<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TestTomEE_Embedded/src/org/apache/tomee/embedded/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.apache.tomee.embedded.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-cp /Users/daniele/*"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TestTomEE_Embedded"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-cp /Users/daniele/*"/>
</launchConfiguration>
